*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/review-site/
!/review-site/*
!RT-Thread
!/RT-Thread/*
!Makefile
!README.md
!.gitignore
!init.sh
!/ysyxSoC/*
/nvboard
/fceux-am
/am-kernels
AGENTS.md
CLAUDE.md
.AGENTS
.CLAUDE
