CONFIG_RVE=y
# CONFIG_RVI is not set
# CONFIG_DEVICE is not set
# CONFIG_DIFFTEST is not set
CONFIG_PERFORMANCE_COUNTER=y
# CONFIG_WAVE is not set
CONFIG_FAST_FLASH=y
# CONFIG_ITRACE is not set
# CONFIG_MTRACE is not set
# CONFIG_FTRACE is not set
# CONFIG_WATCHPOINT is not set
CONFIG_PC_RST_OFFSET=0x0
