*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.cpp
!.gitignore
!README.md
!*.nxdc
!*.ld
!Kconfig
!configs/
!configs/*_defconfig
!scripts/
!scripts/*.mk
!tools/
!tools/kconfig/
!tools/kconfig/.gitignore
!tools/kconfig/Makefile
!tools/kconfig/*.c
!tools/kconfig/*.h
!tools/kconfig/*.l
!tools/kconfig/*.y
!tools/kconfig/lxdialog/
!tools/kconfig/lxdialog/*.c
!tools/kconfig/lxdialog/*.h
!tools/fixdep/
!tools/fixdep/Makefile
!tools/fixdep/*.c
build/
tools/*/build/
include/generated/
include/config/
.config
.config.old
vsrc/obj_dir/
